## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Shingu,34.0667,134.1500,90.01,45,98,6.82,JP,overcast clouds
1,1,Butaritari,3.0707,172.7902,83.12,74,20,12.28,KI,few clouds
2,2,Saint-Philippe,-21.3585,55.7679,71.19,73,47,13.29,RE,scattered clouds
3,3,Pacific Grove,22.0752,-159.3190,80.92,79,75,5.01,US,light rain
4,4,Rikitea,-46.1927,168.8643,48.47,90,45,2.89,NZ,light rain

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimun temperature you would like for your trip? "))
max_temp = float(input("What is the maximun temperature you would like for your trip? "))

What is the minimun temperature you would like for your trip? 75
What is the maximun temperature you would like for your trip? 100

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Shingu,34.0667,134.1500,90.01,45,98,6.82,JP,overcast clouds
1,1,Butaritari,3.0707,172.7902,83.12,74,20,12.28,KI,few clouds
3,3,Pacific Grove,22.0752,-159.3190,80.92,79,75,5.01,US,light rain
5,5,Akdepe,42.0551,59.3788,89.69,20,0,9.01,TM,clear sky
6,6,Hilo,22.0752,-159.3190,80.92,79,75,5.01,US,light rain
...,...,...,...,...,...,...,...,...,...,...
700,700,Cartagena,10.9878,-74.9547,82.49,76,6,22.35,CO,clear sky
701,701,Buckeye,22.0752,-159.3190,80.92,79,75,5.01,US,light rain
703,703,Ewa Beach,22.0752,-159.3190,80.92,79,75,5.01,US,light rain
710,710,Bani Walid,27.0377,14.4283,79.34,36,1,9.24,LY,clear sky
711,711,Tual,3.3000,117.6333,83.70,70,20,4.61,ID,few clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                0
Current Description    0
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Shingu,34.0667,134.1500,90.01,45,98,6.82,JP,overcast clouds
1,1,Butaritari,3.0707,172.7902,83.12,74,20,12.28,KI,few clouds
3,3,Pacific Grove,22.0752,-159.3190,80.92,79,75,5.01,US,light rain
5,5,Akdepe,42.0551,59.3788,89.69,20,0,9.01,TM,clear sky
6,6,Hilo,22.0752,-159.3190,80.92,79,75,5.01,US,light rain
...,...,...,...,...,...,...,...,...,...,...
700,700,Cartagena,10.9878,-74.9547,82.49,76,6,22.35,CO,clear sky
701,701,Buckeye,22.0752,-159.3190,80.92,79,75,5.01,US,light rain
703,703,Ewa Beach,22.0752,-159.3190,80.92,79,75,5.01,US,light rain
710,710,Bani Walid,27.0377,14.4283,79.34,36,1,9.24,LY,clear sky
711,711,Tual,3.3000,117.6333,83.70,70,20,4.61,ID,few clouds

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Shingu,JP,90.01,overcast clouds,34.0667,134.1500,
1,Butaritari,KI,83.12,few clouds,3.0707,172.7902,
3,Pacific Grove,US,80.92,light rain,22.0752,-159.3190,
5,Akdepe,TM,89.69,clear sky,42.0551,59.3788,
6,Hilo,US,80.92,light rain,22.0752,-159.3190,
8,Buraydah,SA,91.85,clear sky,26.3260,43.9750,
12,Meulaboh,ID,83.70,few clouds,3.3000,117.6333,
18,Airai,PW,88.30,overcast clouds,7.0419,134.2556,
22,Kapaa,US,80.92,light rain,22.0752,-159.3190,
30,Avarua,CK,78.85,clear sky,-21.2078,-159.7750,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Shingu,JP,90.01,overcast clouds,34.0667,134.1500,Farmers House Yuzunosato Izumi
1,Butaritari,KI,83.12,few clouds,3.0707,172.7902,Isles Sunset Lodge
3,Pacific Grove,US,80.92,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,Akdepe,TM,89.69,clear sky,42.0551,59.3788,Мой дом
6,Hilo,US,80.92,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Buraydah,SA,91.85,clear sky,26.3260,43.9750,فندق راحة السلام
12,Meulaboh,ID,83.70,few clouds,3.3000,117.6333,RedDoorz Syariah near Taman Berlabuh Tarakan
18,Airai,PW,88.30,overcast clouds,7.0419,134.2556,Storyboard Beach Resort
22,Kapaa,US,80.92,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
30,Avarua,CK,78.85,clear sky,-21.2078,-159.7750,Paradise Inn

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))